.header__item3 {
    width: 170px;
    .header__site-management {
        display: flex;
        align-items: center;
        height: 31px;
        margin: 0 0px 14px;
        font-weight: 700;
        font-size: 14px;
        line-height: 120%;
        color: $darkBlue;
        .site-management__list {
            display: flex;
            margin-right: 38px;
            letter-spacing: 1px;
            .site-management__item {
                margin-top: 8px;
                padding-bottom: 6px;
                border-bottom: 1px solid transparent;
                &:hover {
                    color: $darkBlue;
                    border-bottom: 1px solid $darkBlue;
                }
                &:active {
                    color: $green;
                    border-bottom: 1px solid $green;
                }
                &:not(:first-child) {
                    &:before {
                        content: "●";
                        color: $lightGray;
                        padding-right: 5px;
                    }
                }
                &:not(:last-child) {
                    margin-right: 5px;
                }
            }
        }
        .site-management__account {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 6px;
            padding-bottom: 3px;
            border-bottom: 1px solid transparent;
            &:hover {
                color: $darkBlue;
                border-bottom: 1px solid $darkBlue;
            }
            &:active {
                color: $green;
                border-bottom: 1px solid $green;
                .site-management__image {
                    #header-account{
                        fill: $green;
                    }
                }
            }
            .site-management__text {
                padding-right: 10px;
            }
            .site-management__image {
                display: flex;
                align-items: center;
                justify-content: center;
                #header-account{
                    fill: $yellow;
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
    .header__product-management {
        display: flex;
        position: relative;
        .management-item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 58px;
            outline: 2px $lightYellow solid;
            outline-offset:-2px;
            &:hover {
                background: $lightYellow;
            }
            &:active {
                z-index: 50;
                background: $lightYellow;
                outline: 2px solid $green;
            }
        }
        .product-management__item1 {
            position: absolute;
            top: 0px;
            left: 0px;
            #header-balance {
                height: 25px;
                width: 25px;
            }
        }
        .product-management__item2 {
            position: absolute;
            top: 0px;
            left: 56px;
            #header-heart {
                height: 25px;
                width: 25px;
            }
        }
        .product-management__item3 {
            position: absolute;
            position: relative;
            top: 0px;
            left: 112px;
            border-top-right-radius: 10px;
            cursor: pointer;
            &._active{
                outline: 2px $mint solid;
                background: $mint;
                #header-shopping-cart {
                    fill: $white;
                }
                .product-management__counter {
                    background: $white;
                    border: 2px solid $white;
                }
            }
            #header-shopping-cart {
                position: absolute;
                pointer-events: none;
                height: 25px;
                width: 25px;
                fill: $darkBlue;
            }
            .product-management__counter {
                pointer-events: none;
                display: flex;
                justify-content: center;
                position: absolute;
                top: 3px;
                right: 3px;
                padding-top: 1px;
                padding-left: 2px;
                background: $yellow;
                border: 2px solid $yellow;
                border-radius: 18px;
                width: 30px;
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $darkBlue;
            }
        }
        .product-management__shoppingCard {
            display: none;
        }
        &._active {
            .product-management__shoppingCard {
                display: flex;
                position: absolute;
                position: relative;
                #shopping-card {
                    position: absolute;
                    top: 20px;
                    right: -110px;
                    z-index: 20;
                    width: 220px;
                    height: 222px;
                    filter: drop-shadow(0 0 20px $gray);  
                }
                .shoppingCard__main { 
                    position: absolute; 
                    top: 52px;
                    right: -110px;
                    z-index: 30;
                    display: flex;
                    flex-direction: column;
                    width: 220px;
                    height: 210px;
                    padding: 10px;
                    .shoppingCard__text {
                        margin-bottom: 20px;
                        font-size: 18px;
                        line-height: 21px;
                        color: $gray;
                        .shoppingCard__text-highlight {
                            font-weight: 700;
                            color: $darkBlue;
                        }
                    }
                    .shoppingCard__button-checkout {
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        width: 200px;
                        height: 40px;
                        margin-bottom: 20px;
                        background: $mint;
                        border-top-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        &:hover {
                            background: $yellow;
                        }
                        &:active {
                            background: $yellow;
                            outline: 2px solid $green;
                            outline-offset: -2px;
                        }
                        .button-checkout__title-text {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 120%;
                            color: $white;
                        }
                        #checkout-shopping-cart {
                            fill: $white;
                            width: 30px;
                            height: 30px;
                        }
                    }
                    .shoppingCard__button-edit {
                        &:hover {
                            .button-edit__title-text {
                                border-bottom: 1px solid rgba($gray, .5);
                            }
                        }
                        &:active {
                            .button-edit__title-text {
                                color: $green;
                                border-bottom: 1px solid $green;
                            }
                        }
                        .button-edit__title-text {
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 120%;
                            color: $darkBlue;
                            padding-bottom: 5px;
                            border-bottom: 1px solid $white;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 768px){ 
    .header__item3 {
        .header__product-management {
            &._active {
                .product-management__shoppingCard {
                    #shopping-card {
                        top: 40px;
                        width: 270px; 
                    }
                    .shoppingCard__main { 
                        width: 270px;
                        .shoppingCard__button-checkout {
                            width: 250px;
                            height: 60px;
                            margin-bottom: 30px;
                            .button-checkout__title-text {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 1024px){ 
    .header__item3 {
        width: 100%;
        max-width: 175px;
        margin-right: 20px;
        .header__site-management {
            justify-content: space-around;
            height: 41px;
            margin:0px 0px 19px;
            .site-management__language {
                .site-management__list {
                    margin-right: 0px;
                    .site-management__item {
                        &:not(:first-child) {
                            &:before {
                                padding-right: 10px;
                            }
                        }
                        &:not(:last-child) {
                            margin-right: 10px;
                        }
                    }
                }
            }
            .site-management__account {
                .site-management__text {
                    padding-right: 12px;
                }
                .site-management__image {
                    #header-account {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
        .header__product-management {
            .management-item {
                height: 60px;
                width: calc(33.333% + 2px);
            }
            .product-management__item1 {
                #header-balance {
                    height: 30px;
                    width: 30px;
                }
            }
            .product-management__item2 {
                left: 33.333%;
                #header-heart {
                    height: 30px;
                    width: 30px;
                }
            }
            .product-management__item3 {
                left: 66.666%;
                #header-shopping-cart {
                    height: 30px;
                    width: 30px;
                }
                .product-management__counter {
                    top: 6px;
                    right: 5px;
                }
            }
            &._active {
                .product-management__shoppingCard {
                    #shopping-card {
                        top: 60px;
                        right: -135px;
                        width: 338px;
                        height: 278px; 
                    }
                    .shoppingCard__main { 
                        top: 78px;
                        right: -135px;
                        width: 338px;
                        height: 258px;
                        padding: 30px;
                        .shoppingCard__text {
                            margin-bottom: 40px;
                        }
                        .shoppingCard__button-checkout {
                            width: 277px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 1280px){ 
    .header__item3 {
        min-width: 175px;
        max-width: 266px;
    }
}
@media (min-width: 1330px){ 
    .header__item3 {
        .header__product-management {
            &._active {
                .product-management__shoppingCard {
                    #shopping-card {
                        right: -170px; 
                    }
                    .shoppingCard__main { 
                        right: -170px;
                    }
                }
            }
        }
    }
}
@media (min-width: 1552px){ 
    .header__item3 {
        width: 266px;
        .header__site-management {
            justify-content: unset;
            margin:0px 0px 19px 48px;
            .site-management__language {
                margin-right: 61px;
                .site-management__list {
                    margin-right: 0px;
                    .site-management__item {
                        &:not(:first-child) {
                            &:before {
                                padding-right: 8px;
                            }
                        }
                        &:not(:last-child) {
                            margin-right: 13px;
                        }
                    }
                }
            }
           
            .site-management__account {
                .site-management__text {
                    padding-right: 12px;
                }
            }
        }
        .header__product-management {
            .management-item {
                width: 90px;
            }
            .product-management__item2 {
                left: 88px;
            }
            .product-management__item3 {
                left: 176px;
            }
            &._active {
                .product-management__shoppingCard {
                    #shopping-card {
                        right: -180px;  
                    }
                    .shoppingCard__main { 
                        right: -180px;
                    }
                }
            }
        }
    }
}