.page__feedback-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 30px);
    padding-top: 33px;
    margin-bottom: 60px;
    padding-bottom: 51px;
    background: $darkGreen;
    border-radius: 3px;
    .feedback-block__text {
        text-align: center;
        margin: 0px 15px;
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 120%;
        color: $white;
    }
    .feedback-block__form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: calc(100% - 30px);
        height: 100%;
        background: $white;
        border-radius: 3px;
        .feedback-block__phone {
            border: none;
            background: none;
            outline: none;
            width: 160px;
            height: 40px;
            margin-left: 2px;
            font-size: 14px;
            line-height: 120%;
            text-transform: uppercase;
            color: $darkBlue;
            opacity: 0.7;
        }
        .feedback-block__button {
            cursor: pointer;
            width: 90px;
            height: 36px;
            margin-right: 2px;
            background: $darkYellow;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
            color: $white;
            &:hover {
                background: $yellow;
            }
            &:active {
                background: $yellow;
                border: 2px solid $green;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
}
@media (min-width: 768px){
    .page__feedback-block {
        .feedback-block__text {
            margin: 0 20px;
            margin-bottom: 20px;
            font-size: 30px;
        }
        .feedback-block__form {
            width: 586px;
            height: 60px;
            .feedback-block__phone {
                width: 213px;
                height: 56px;
                margin-left: 19px;
                font-size: 16px;
            }
            .feedback-block__button {
                width: 213px;
                height: 56px;
                font-size: 24px;
            }
        }
    }
}
@media (min-width: 1552px){
    .page__feedback-block {
        width: 1440px;
        .feedback-block__form {
            .feedback-block__button {
                font-size: 24px;
            }
        }
    }
}