.product__item2 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 26px;
    .product__purchase {
        display: flex;
        flex-direction: column;
        background: $white;
        outline: 1px $lightGray solid;
        outline-offset: -1px;
        border-radius: 10px;
        width: 100%;
        height: 221px;
        .purchase__item1 {
            display: flex;
            z-index: 50;
            width: 100%;
            .purchase__promotion {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20%;
                height: 60px;
                padding: 2px 0px 0px 1px;
                background-color: $red;
                border-top-left-radius: 10px;
                font-weight: 500;
                font-size: 16px;
                line-height: 120%;
                color: $white;
            }
            .purchase__sale {
                display: flex;
                align-items: center;
                width: 80%;
                height: 60px;
                margin-left: 1px;
                padding-left: 20px;
                padding-top: 1px;
                background-color: $pink;
                border-top-right-radius: 10px;
                color: $red;
            }
        }
        .purchase__item2 {
            display: flex;
            margin: 39px 0px 18px 21px;
            z-index: 50;
            .purchase__price {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0px 35px 0px 0px;
                font-weight: 700;
                font-size: 36px;
                line-height: 120%;
                color: $red;
                span {
                    margin-left: 9px;
                    font-weight: 300;
                }
            }
            .purchase__discount {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                margin-top: 7px;
                .purchase__discount-text {
                    margin-top: 3px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 120%;
                    color: $darkBlue;
                    opacity: 0.5;
                }
                .purchase__line-through {
                    position: absolute;
                    top: 50%;
                    z-index: 50;
                    width: 77px;
                    height: 2px; 
                    background: $red;
                    opacity: none;
                }
            }
        }
        .purchase__item3 {
            display: flex;
            position: relative;
            z-index: 50;
            .management-item {
                display: flex;
                align-items: center;
                height: 60px;
                &:hover {
                    background: $lightYellow;
                }
                &:active {
                    z-index: 50;
                    background: $lightYellow;
                    outline: 2px solid $green;
                    outline-offset: -2px;
                }
            }
            .purchase__shopping-cart {
                display: flex;
                justify-content: center;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 25%;
                border-bottom-left-radius: 10px;
                background: $green;
                .purchase__shopping-text {
                    display: none;
                    margin-left: 21px;
                    padding-top: 1px;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 120%;
                    color: $white;
                }
                #purchase-shopping-cart {
                    height: 25px;
                    width: 25px;
                    fill: $white;
                }
            }
            .purchase__balance {
                justify-content: center;
                position: absolute;
                top: 0px;
                left: 25%;
                width: 25%;
                outline: 2px $lightYellow solid;
                outline-offset:-2px;
                #purchase-balance {
                    height: 25px;
                    width: 25px;
                }
            }
            .purchase__heart {
                justify-content: center;
                position: absolute;
                top: 0px;
                left: 50%;
                width: 25%;
                padding-top: 4px;
                outline: 2px $lightYellow solid;
                outline-offset:-2px;
                #purchase-heart {
                    height: 25px;
                    width: 25px;
                }
            }
            .purchase__phone {
                position: absolute;
                justify-content: center;
                top: 0px;
                left: 75%;
                width: 25%;
                border-bottom-right-radius: 10px;
                outline: 2px $lightYellow solid;
                outline-offset:-2px;
                #purchase-phone {
                    height: 25px;
                    width: 25px;
                }
                .purchase__call-text {
                   display: none;
                }
            }
        }
    }
}
@media (min-width: 768px){
    .product__item2 {
        width: 591px;
        .product__purchase {
            width: 589px;
            .purchase__item1 {
                .purchase__promotion {
                    width: 110px;
                    font-size: 24px;
                }
                .purchase__sale {
                    width: 478px;
                }
            }
            .purchase__item3 {
                .purchase__shopping-cart {
                    justify-content: space-between;
                    position: relative;
                    width: 226px;
                    .purchase__shopping-text {
                        display: block;
                    }
                    #purchase-shopping-cart {
                        margin-right: 21px;
                        height: 30px;
                        width: 30px;
                    }
                }
                .purchase__balance {
                    left: 236px;
                    width: 90px;
                    #purchase-balance {
                        height: 30px;
                        width: 30px;
                    }
                }
                .purchase__heart {
                    left: 324px;
                    width: 90px;
                    #purchase-heart {
                        height: 30px;
                        width: 30px;
                    }
                }
                .purchase__phone {
                    left: 422px;
                    width: 167px;
                    #purchase-phone {
                        height: 30px;
                        width: 30px;
                        margin: 0 13px 1px 20px;
                    }
                    .purchase__call-text {
                        display: block;
                        margin-top: 3px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 120%;
                        color: $gray;
                    }
                }
                    
            }
        }
    }

}
@media (min-width: 1024px){
    .product__item2 {
        width: 100%;
        .product__purchase {
            width: 100%;
            .purchase__item1 {
                .purchase__promotion {
                    width: 20%;
                    font-size: 16px;
                }
                .purchase__sale {
                    width: 80%;
                }
            }
            .purchase__item3 {
                .purchase__shopping-cart {
                    justify-content: center;
                    width: 25%;
                    .purchase__shopping-text {
                        display: none;
                    }
                    #purchase-shopping-cart {
                        margin-right: 0px;
                        height: 25px;
                        width: 25px;
                    }
                }
                .purchase__balance {
                    left: 25%;
                    width: 25%;
                    #purchase-balance {
                        height: 25px;
                        width: 25px;
                    }
                }
                .purchase__heart {
                    left: 50%;
                    width: 25%;
                    #purchase-heart {
                        height: 25px;
                        width: 25px;
                    }
                }
                .purchase__phone {
                    left: 75%;
                    width: 25%;
                    #purchase-phone {
                        height: 25px;
                        width: 25px;
                    }
                    .purchase__call-text {
                       display: none;
                    }
                }
            }
        }
    }
}
@media (min-width: 1280px){
    .product__item2 {
        width: 591px;
        .product__purchase {
            width: 589px;
            .purchase__item1 {
                .purchase__promotion {
                    width: 110px;
                    font-size: 24px;
                }
                .purchase__sale {
                    width: 478px;
                }
            }
            .purchase__item3 {
                .purchase__shopping-cart {
                    justify-content: space-between;
                    width: 226px;
                    .purchase__shopping-text {
                        display: block;
                    }
                    #purchase-shopping-cart {
                        margin-right: 21px;
                        height: 30px;
                        width: 30px;
                    }
                }
                .purchase__balance {
                    left: 236px;
                    width: 90px;
                    #purchase-balance {
                        height: 30px;
                        width: 30px;
                    }
                }
                .purchase__heart {
                    left: 324px;
                    width: 90px;
                    #purchase-heart {
                        height: 30px;
                        width: 30px;
                    }
                }
                .purchase__phone {
                    left: 422px;
                    width: 167px;
                    #purchase-phone {
                        height: 30px;
                        width: 30px;
                    }
                    .purchase__call-text {
                        display: block;
                    }
                }
                    
            }
        }
    }
}
@media (min-width: 1552px){
    .product__item2 {
        .product__purchase {
            .purchase__item3 {
                .purchase__phone {
                    justify-content: start;
                }
            }
        }
    }
}