.product__item3 {
    margin-left: 4px;
    .product__spoilers {
        &._init {
            .product__spoiler {
                .spoiler-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
                    height: 83px;
                    width: 100%;
                    padding: 0px 4px 0px 9px;
                    border-top: 1px solid $lightGray;
                    border-bottom: 1px solid $lightGray;
                    .spoiler-title__main {
                        display: flex;
                        pointer-events: none;
                        .spoiler-title__icon {
                            #shield {
                                width: 18px;
                                height: 20px;
                            }
                            #box {
                                width: 20px;
                                height: 20px;
                            }
                            #card {
                                width: 20px;
                                height: 18px;
                            }
                        }
                        .spoiler-title__text {
                            text-align: left;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 120%;
                            color: $gray;
                        }
                    }
                    .spoiler-title__arrow {
                        pointer-events: none;
                        margin-bottom: 2px;
                        #arrow-bottom {
                            fill: $gray;
                            width: 9px;
                            height: 6px;
                        }
                    }
                    &._active {
                        .spoiler-title__arrow { 
                            #arrow-bottom {
                                width: 10px;
                                height: 10px;
                                transform: rotate(-180deg);
                            }
                        }
                    }
                }
                .spoiler-text{
                    padding: 10px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: $gray;
                }
                &:hover {
                    .spoiler-title {
                        border-top: 1px solid $yellow;
                        border-bottom: 1px solid $yellow;
                        z-index: 50;
                    }
                }
                &:active {
                    .spoiler-title {
                        border-top: 1px solid $green;
                        border-bottom: 1px solid $green;
                        z-index: 50;
                    }
                }
            }
        }
        .product__spoiler {
            width: 100%;
            background: transparent;
            color: $gray;
        }
        .warranty {
            .warranty__title{
                .spoiler-title__main {
                    margin: 2px 9px 0px 2px;
                    .spoiler-title__icon {
                        margin-right: 8px;
                    }
                }
            }
        }
        .delivery-terms {
            position: relative;
            top: -1px;
            .delivery-terms__title {
                .spoiler-title__main {
                    margin: 1px 9px 0px 1px;
                    .spoiler-title__icon {
                        margin-right: 8px;
                    }
                    .spoiler-title__text {
                        margin-top: 1px;
                    }
                }
            }
        }
        .payment-terms {
            position: relative;
            top: -2px;
            .payment-terms__title {
                .spoiler-title__main {
                    margin: 0px 9px 0px 0px;
                    .spoiler-title__icon {
                        margin-right: 8px;
                        margin-top: 2px;
                    }
                    .spoiler-title__text {
                        margin-bottom: 6px;
                    }
                }
            }
        }
    }
}
@media (min-width: 768px){
    .product__item3 {
        .product__spoilers {
            .product__spoiler {
                width: 587px;
            }
        }
    }
}
@media (min-width: 1024px){
    .product__item3 {
        .product__spoilers {
            .product__spoiler {
                width: 100%;
            }
        }
    }
}
@media (min-width: 1280px){
    .product__item3 {
        .product__spoilers {
            .product__spoiler {
                width: 587px;
            }
        }
    }
}