//connecting files
@import "zeroing.scss";
@import "fonts.scss";
//variable declaration
$roboto: 'Roboto', sans-serif;
$nunito: 'Nunito', sans-serif;

body {
    font-family: $roboto;
    .wrapper {
        min-height: 100%;
        overflow: hidden;
    } 
    .header {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 50;
        .container {
            max-width: 1520px;
            margin: 0px auto;
            padding: 0 10px;
            box-sizing: content-box;
        }
        .header__container {
            display: flex;
            // align-items: space-between;
            // min-height: 120px;
            padding: 15px;
        }
    }
}

.header__item1 {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 60px;
    .header__logo {
        display: flex;
        align-items: center;
        height: 25px;
        #header-logo {
            width: 57px;
            height: 21px;
        }
       
        margin-bottom: 20px;
    }
    .header__catalog {
        display: flex;
        align-items: center;
        justify-content: center;
      
        // width: 371px;
        // min-width: 300px;
        height: 40px;
        background: #FFBE48;
        border-top-left-radius: 10px;
        .catalog__menu {
            // display: flex;
            // align-items: center;
            // margin: 0 20px 0 20px;
            .catalog__icon {
                #header-menu {
                    height: 25px;
                    width: 25px;
                }
            }
            .catalog__text {
                display: none;
                // font-weight: 500;
                // font-size: 24px;
                // letter-spacing: 1px;
                // color: #FFFFFF;
            }
        }
        .catalog__categories {
            display: none;
            // width: 95px;
            // font-size: 14px;
            // color: #FFFFFF;
            // margin-right: 25px;
            // line-height: 171%;
            // border-bottom: 1px rgba(255,255,255,.5) solid;
            // margin-top: 8px;
            // padding-bottom: 3px;
        }
    }
}
.header__item2 {
    display: none;
}
.header__item3 {
    width: 80%;
    // margin-top: 5px;
    // margin-right: 40px;
    .header__site-management {
        display: flex;
        align-items: center;
        height: 25px;
        margin: 0 0px 20px 0px;
        font-weight: 700;
        font-size: 14px;
        line-height: 120%;
        color: #33485D;
        .site-management__list {
            display: flex;
            
            margin-right: 40px;
            letter-spacing: 1px;
            .site-management__item:not(:last-child) {
                margin-right: 20px;
                
            }
        }
        .site-management__account {
            display: flex;
            align-items: center;
            justify-content: center;
            .site-management__text {
                padding-right: 12px;
            }
            .site-management__image {
                #header-account{
                    width: 25px;
                    height: 25px;
                }
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .header__product-management {
        display: flex;
        .management-item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 58px;
            border: 2px #FFCB6D solid;
        }
        .product-management__item1 {
            border-right: 1px #FFCB6D solid;
            #header-balance {
                height: 25px;
                width: 25px;
            }
        }
        .product-management__item2 {
            border-right: 1px #FFCB6D solid;
            border-left: 1px #FFCB6D solid;
            #header-heart {
                height: 25px;
                width: 25px;
            }
        }
        .product-management__item3 {
            border-top-right-radius: 10px;
            border-left: 1px #FFCB6D solid;
            #header-shopping-cart {
                height: 25px;
                width: 25px;
            }
        }
    }
}


// .header__site-management {
//     margin: 10px 17px 30px 48px;
//     .site-management__list {
//         margin-right: 62px;
//     }
// }

@media (min-width: 1521px){
    body {
        font-family: $roboto;
        .wrapper {
            min-height: 100%;
            overflow: hidden;
        } 
        .header {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            z-index: 50;
            .container {
                max-width: 1520px;
                margin: 0px auto;
                padding: 0 15px;
                box-sizing: content-box;
            }
            .header__container {
                display: flex;
                justify-content: center;
                min-height: 120px;
                padding: 20px 13px 30px 15px;
                align-items: center;
            }
        }
    }
    
    .header__item1 {
        display: flex;
        flex-direction: column;
        width: 24.407%;
        margin-left: 40px;
        .header__logo {
            width: 114px;
            height: 41px;
            margin-bottom: 19px;
        }
        .header__catalog {
            display: flex;
            align-items: center;
            justify-content: space-between;
          
            // width: 371px;
            // min-width: 300px;
            height: 60px;
            background: #FFBE48;
            border-top-left-radius: 10px;
            .catalog__menu {
                display: flex;
                align-items: center;
                margin: 0 20px 0 20px;
                .catalog__text {
                    font-weight: 500;
                    font-size: 24px;
                    letter-spacing: 1px;
                    color: #FFFFFF;
                }
                .catalog__icon {
                    margin-right: 20px;
                }
            }
            .catalog__categories {
                width: 95px;
                font-size: 14px;
                color: #FFFFFF;
                margin-right: 25px;
                line-height: 171%;
                border-bottom: 1px rgba(255,255,255,.5) solid;
                margin-top: 8px;
                padding-bottom: 3px;
            }
        }
    }
    .header__item2 {
        display: flex;
        flex-direction: column;
        width: 50.855%;
        font-weight: 700;
        font-size: 14px;
        color: #33485D;
        margin: 0 15px;
        .header__nav-bar {
            display: flex;
            .header__menu{
                .menu__list {
                    display: flex;
                    .menu__item {
                        margin-right: 20px;
                        .menu__link {
                            line-height: 171%;
                        }
                    }
                }
                .header__phone {
                    line-height: 120%;
                    text-transform: uppercase;
                }
            }
        }
        .header__search-box {
            background: #DDE8F0;
            height: 50px;
            border-radius: 10px;
            color: black;
            padding: 10px;
            .header__search-txt {
                width: 80%;
            }
            .header__search-button {
                padding: 0 12px;
            }
        }
        
    }
    .header__item3 {
        width: 17.5%;
        margin-right: 40px;
        .header__site-management {
            display: flex;
            align-items: center;
            margin: 10px 17px 30px 48px;
            font-weight: 700;
            font-size: 14px;
            line-height: 120%;
            color: #33485D;
            .site-management__list {
                display: flex;
                
                margin-right: 62px;
                letter-spacing: 1px;
                .site-management__item:not(:last-child) {
                    margin-right: 30px;
                    
                }
            }
            .site-management__account {
                display: flex;
                align-items: center;
                justify-content: center;
                .site-management__text {
                    padding-right: 12px;
                }
                .site-management__image {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .header__product-management {
            display: flex;
            .management-item {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 60px;
                width: 90px;
                border: 2px #FFCB6D solid;
            }
            .product-management__item1 {
                border-right: 1px #FFCB6D solid;
            }
            .product-management__item2 {
                border-right: 1px #FFCB6D solid;
                border-left: 1px #FFCB6D solid;
            }
            .product-management__item3 {
                border-top-right-radius: 10px;
                border-left: 1px #FFCB6D solid;
            }
        }
    }


}
@media (min-width: 1281px){
    // .catalog__text {
    //     display: none;
    // }
    
    // .header__catalog {
    //     width: 320px;
    // }
    // .catalog__menu {
    //     margin-right: calc(20px + (110 - 20) * ((100vw - 320px) / (1520 - 320)));
    // }

}
@media (min-width: 769px){
    // .header__item2{
    //     display: none;
    // }
}
