//connecting files
@import "./vendor/vendor.scss";
// ----------------------------------------------------
.container {
    max-width: 1522px;
    margin: 0px auto;
    box-sizing: content-box;
}
body {
    font-family: $roboto;
    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        overflow: hidden;
    } 
    .header {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 50;
       
        .header__container {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 15px;
        }
    }
    .page {
        position: relative;
        flex: 1 1 auto;
        .page__container {
            display: flex;
            flex-direction: column;
            margin-top: 170px;
            padding: 30px 15px 0px;
            .page__main-block {
                z-index: 50;
                display: flex;
                flex-direction: column;
                background: $white;
                
                    
                // background: paleturquoise;
                min-height: 653px;
                .page__product-path {
                    width: 100%;
                    padding: 20px 0px 20px 44px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 120%;
                    color: $darkBlue;
                    opacity: 0.5;
                }
                .page__product {
                    display: flex;
                    // min-width: 0;
                    width: 100%;
                    .product__showcase {
                        display: flex;
                        .product__slider {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            min-width: 120px;
                            margin: 0 9px 0 45px;
                            .product__prev {
                                cursor: pointer;
                                margin-bottom: 15px;
                                #arrow-top {
                                    width: 29px;
                                    height: 16px;
                                }
                            }
                            .product__thumbs {
                               
                                .product__thumb { 
                                    cursor: pointer;
                                    &:not(:last-child) {
                                        margin-bottom: 10px;
                                    }
                                    &:hover {
                                        border-radius: 5px;
                                        outline: 2px $lightYellow solid;
                                        outline-offset:-2px;
                                    }
                                    &:active {
                                        border-radius: 5px;
                                        outline: 2px $green solid;
                                        outline-offset:-2px;
                                    }
                                    .product__image {
                                        pointer-events: none;
                                        width: 120px;
                                        height: 120px;
                                        object-fit: cover;
                                        border-radius: 5px;
                                    }
                                }
                                .active {
                                    border-radius: 5px;
                                    outline: 2px $green solid;
                                    outline-offset:-2px;
                                }
                            }
                            .product__next {
                                cursor: pointer;
                                transform: rotate(180deg);
                                margin-top: 15px;
                                #arrow-bottom {
                                    width: 29px;
                                    height: 16px;
                                }
                            }
                        }
                        .product__main-image {
                            .product__big-image {
                                width: 580px;
                                height: 580px;
                                object-fit: cover;
                            }
                        }
                    }
                    .product__management {
                    }
                }
                
            }
            .page__description-block {
                z-index: 50;
                background: $yellow;
                min-height: 602px;
            }
        }
        .main-block__background {
            position: absolute;
            width: 100%;
            height: 717px;
            left: 0px;
            top: 170px;
            background: linear-gradient(180deg, #219653 0%, #FFFFFF 100%);
            z-index: 1;
        }
    }
}
// ----------------------------------------------------
.header__item1 {
    display: flex;
    flex-direction: column;
    width: 57px;
    margin-right: 15px;
    .header__logo {
        display: flex;
        align-items: center;
        height: 25px;
        margin-bottom: 20px;
        #header-logo {
            width: 57px;
            height: 21px;
        }
    }
    .header__catalog {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        background: $yellow;
        border-top-left-radius: 10px;
        .catalog__menu {
            .catalog__icon {
                #header-menu {
                    height: 25px;
                    width: 25px;
                }
            }
            .catalog__text {
                display: none;
            }
        }
        .catalog__categories {
            display: none;
        }
    }
}
// ----------------------------------------------------
.header__item2 {
    position: absolute;
    top: 115px;
    left: 0px;
    width: calc(100% - 30px);
    min-width: 242px;
    font-weight: 700;
    font-size: 14px;
    color: $gray;
    margin: 0 15px;
    .header__nav-bar {
        display: none;
    }
    .header__search-box {
        display: flex;
        justify-content: space-between;
        background: $lightGray;
        height: 40px;
        border-radius: 10px;
        .header__search-txt {
            border: none;
            background: none;
            outline: none;
            padding-left: 19px;
            font-weight: normal;
            font-size: 16px;
            line-height: 120%;
            color: $gray;
            opacity: 0.7;
            width: calc(100% - 43px);
        }
        .header__search-button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 12px;
            #header-search {
                width: 19px;
                height: 18px;
            }
        }
    }
}
// ----------------------------------------------------
.header__item3 {
    width: 170px;
    .header__site-management {
        display: flex;
        align-items: center;
        height: 25px;
        margin: 0 0px 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 120%;
        color: $darkBlue;
        .site-management__list {
            display: flex;
            margin-right: 38px;
            letter-spacing: 1px;
            .site-management__item:not(:last-child) {
                margin-right: 20px;
            }
        }
        .site-management__account {
            display: flex;
            align-items: center;
            justify-content: center;
            .site-management__text {
                padding-right: 10px;
            }
            .site-management__image {
                display: flex;
                align-items: center;
                justify-content: center;
                #header-account{
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
    .header__product-management {
        display: flex;
        position: relative;
        .management-item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 58px;
            outline: 2px $lightYellow solid;
            outline-offset:-2px;
        }
        .product-management__item1 {
            position: absolute;
            top: 0px;
            left: 0px;
            #header-balance {
                height: 25px;
                width: 25px;
            }
        }
        .product-management__item2 {
            position: absolute;
            top: 0px;
            left: 56px;
            #header-heart {
                height: 25px;
                width: 25px;
            }
        }
        .product-management__item3 {
            position: absolute;
            position: relative;
            top: 0px;
            left: 112px;
            border-top-right-radius: 10px;
            #header-shopping-cart {
                height: 25px;
                width: 25px;
            }
            .product-management__counter {
                display: flex;
                justify-content: center;
                position: absolute;
                top: 3px;
                right: 3px;
                padding-top: 1px;
                padding-left: 2px;
                background: $yellow;
                border: 2px solid $yellow;
                border-radius: 18px;
                width: 30px;
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $darkBlue;
            }
        }
    }
}
// ----------------------------------------------------
@media (min-width: 768px){
    .header__item1 {
        margin-right: 0px;
    }
// ----------------------------------------------------
    .header__item2 {
        position: static;
        width: 100%;
        min-width: 482px;
        margin: 0 14px 0 15px;
        .header__nav-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 25px;
            margin-bottom: 20px;
            .header__menu{
                margin-left: 5px;
                .menu__list {
                    flex-wrap: wrap;
                    display: flex;
                    .menu__item:not(:last-child) {
                        margin-right: 24px;
                    }
                    .menu__link {
                        line-height: 171%;
                    }
                }
            }
            .header__phone {
                min-width: 120px;
                line-height: 120%;
                text-transform: uppercase;
                margin: 0 5px;
            }
        }
    }
}
// ----------------------------------------------------
@media (min-width: 1024px){
    body {
        .header {
            .header__container {
                padding: 20px 15px 30px 15px;
            }
        }
    }
// ----------------------------------------------------
    .header__item1 {
        width: 100%;
        max-width: 205px;
        margin-left: 20px;
        .header__logo {
            width: 114px;
            height: 41px;
            margin-bottom: 19px;
            #header-logo {
                width: 114px;
                height: 41px;
            }
        }
        .header__catalog {
            justify-content: space-between;
            height: 60px;
            .catalog__menu {
                display: flex;
                align-items: center;
                margin: 0 20px;
            }
            .catalog__categories {
                display: block;
                width: 95px;
                margin-right: 25px;
                margin-top: 8px;
                padding-bottom: 3px;
                font-size: 14px;
                line-height: 171%;
                color: #FFFFFF;
                border-bottom: 1px rgba(255,255,255,.5) solid;
            }
        }
    }
// ----------------------------------------------------
    .header__item2 {
        min-width: 545px;
        .header__nav-bar {
            min-height: 41px;
            margin-bottom: 19px;
        }
        .header__search-box {
            height: 50px;
            margin: 24px 0 5px;
        }
    }
// ----------------------------------------------------
    .header__item3 {
        width: 100%;
        max-width: 175px;
        margin-right: 20px;
        .header__site-management {
            justify-content: space-around;
            height: 41px;
            margin:0px 0px 19px;
            .site-management__list {
                margin-right: 0px;
                .site-management__item:not(:last-child) {
                    margin-right: 15px;
                }
            }
            .site-management__account {
                .site-management__text {
                    padding-right: 12px;
                }
                .site-management__image {
                    #header-account {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
        .header__product-management {
            .management-item {
                height: 60px;
                width: calc(33.333% + 2px);
            }
            .product-management__item1 {
                #header-balance {
                    height: 30px;
                    width: 30px;
                }
            }
            .product-management__item2 {
                left: 33.333%;
                #header-heart {
                    height: 30px;
                    width: 30px;
                }
            }
            .product-management__item3 {
                left: 66.666%;
                #header-shopping-cart {
                    height: 30px;
                    width: 30px;
                }
                .product-management__counter {
                    top: 6px;
                    right: 5px;
                }
            }
        }
    }
}
// ----------------------------------------------------
@media (min-width: 1280px){ 
    .header__item1 {
        max-width: 371px;
        .header__catalog {
            .catalog__menu {
                .catalog__icon {
                    margin-right: 20px;
                }
                .catalog__text {
                    display: block;
                    font-weight: 500;
                    font-size: 24px;
                    letter-spacing: 1px;
                    color: #FFFFFF;
                }
            }
        }
    }
// ----------------------------------------------------
    .header__item2 {
        min-width: 704px;
    }
// ----------------------------------------------------
    .header__item3 {
        min-width: 175px;
        max-width: 266px;
    }
}
// ----------------------------------------------------
@media (min-width: 1552px){ 
    body {
        .header {
            .header__container {
                justify-content: center;
            }
        }
    }
// ----------------------------------------------------
    .header__item1 {
        width: 371px;
    }
// ----------------------------------------------------
    .header__item2 {
        width: 774px;
        .header__search-box {
            .header__search-txt {
                width: 731px;
            }
        }
    }
// ----------------------------------------------------
    .header__item3 {
        width: 266px;
        .header__product-management {
            .management-item {
                width: 90px;
            }
            .product-management__item2 {
                left: 88px;
            }
            .product-management__item3 {
                left: 176px;
            }
        }
    }
}
